root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx,mjs,cjs,mts,cts}]
indent_size = 2

[*.{json,jsonc}]
indent_size = 2

[*.{yaml,yml}]
indent_size = 2

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma = false
ij_kotlin_allow_trailing_comma_on_call_site = false
ij_kotlin_code_style_defaults = KOTLIN_STYLE_GUIDE
ktlint_multiline_doc_style_mode = off
ktlint_standard_no-wildcard-imports = disabled

[*.{md,markdown}]
max_line_length = unset

[{*.sh,*.bash,*.zsh}]
indent_style = tab
